snippet header
    ${2:header name}: ${3:header value}

snippet get
    GET ${1:url} HTTP/1.1

snippet post
    POST ${1:url} HTTP/1.1

    ${4:content}

snippet put
    PUT ${1:url} HTTP/1.1

    ${4:content}

snippet patch
    PATCH ${1:url} HTTP/1.1

    ${4:content}

snippet delete
    DELETE ${1:url} HTTP/1.1
